html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;

}

body {
	font-family: Arial, Verdana, sans-serif;
}

.main-content{
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

.logo{
  margin-bottom: 50px;
}


.btn{
  font-weight: 700;
  font-size : 18px;
  color: #3f2aff;
  background-image: url('../img/download.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-top: 50px;
}

.more{
  display: inline-block;
  margin-right: 25px;
  padding-top: 24px;
  padding-right: 49px;
  padding-bottom: 24px;
  padding-left: 49px;
  font-size: 18px;
  font-weight: 700;
  background-color: #3f2aff;
}

.more:last-child{
  margin: 0;
}

.container{
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.lead {
  margin-top: 0;
  margin-bottom: 40px;
  width: 872px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color:#333
}

.heading-1 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  color:#333;
}

.heading-2 {
  margin-top: 0;
  margin-bottom:10px ;
  font-size :40px;
  line-height: 46px;
  color: #333;
}

.list{
  margin-top: 0;
  padding-left: 15px;
}

.heading-3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.image {
  display:inline-block ;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}
.icon {
  margin-bottom: 0 ;

}

.snippet {
border: 1px solid  #b6b6b6;
border-top: none;
padding-top: 19px;
padding-bottom: 19px;
font-weight: 400;
font-size: 14px;
text-align:center ;


}
.subject{
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
  padding-left: 15px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;



}
.subject:last-child{
  margin-bottom: 0;
}

.point {
  margin-bottom: 20px;
 }
.wrap {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color:#333;
  width: 692px;
  margin-bottom: 10px;
  text-align: justify;

}

.item{
  font-size: 20px;
  color: #3f2aff;
  border-bottom: 1px solid #3f2aff;
}

.point:last-child{
  margin-bottom: 0;
  padding-bottom: 0;
}

.pic{
  margin-bottom: 40px;
}

.title{
 background-color:#3f2aff ;
 border-radius: 20px;
 padding-top: 50px;
 padding-left: 95px;
 padding-right: 95px;
 padding-bottom:50px ;
 width: 100%;
 font-weight: 700;
 font-size: 30px;
 color:white ;
}
.subject.desc{
  background-image: url('../img/decorate-1.png');

 }
 .subject.final{
   background-image: url('../img/decorate-2.png');
 }
 ::marker {
  color: blue;
 }
.contentbox {
position: relative;
box-sizing: border-box;
width: 1170px;
max-width: 100%;
height: 1477px;
margin: 0 auto;

}
.sitecontent {
  box-sizing: border-box;
  width: 1920px;
  height: 1477px;
  position: absolute;
}
.mainbox{
 box-sizing: border-box;
 width: 1170px;
 height: 1035px;
 margin-top: 0 ;
 position: relative;
 padding-left: 0;
 list-style: none;
 font-size: 0;
}

.subtitle {
  list-style: none;
  padding: 0px;
  box-sizing: border-box;
  width: 572px;
  min-height :325px ;
  position: relative;
  padding: 25px;
  top:180px;
  font-size: initial;
}

.block {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  min-height: 505px;
  width: 572px;
  vertical-align: top;
  font-size: 0;
  margin-right: 25px;
  margin-bottom: 25px;
  top: 272px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);



}
.block:nth-child(2n) {
  margin-right: 0;
}




.block-1 {
  background-image: url('../img/photo-1530435460869-d13625c69bbf\ copy.png');
  background-size: contain;
  background-repeat: no-repeat;



}
.block-2 {
  background-image: url('../img/photo-1530435460869-d13625c69bbf\ copy\ \(1\).png');
  background-size: contain;
  background-repeat: no-repeat;


}
.block-3 {
  background-image: url('../img/photo-1530435460869-d13625c69bbf\ copy\ \(2\).png') ;
  background-size: contain;
  background-repeat: no-repeat;



}
.block-4 {
  background-image: url('../img/photo-1530435460869-d13625c69bbf\ copy\ \(3\).png');
  background-size: contain;
  background-repeat: no-repeat;



}

.sectionsidebar-{
  margin-right:25px ;
}
.header {
  margin: 0;
  position: relative;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #3F2AFF;


}
.number{
  font-size: initial;
  position: absolute;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #EAEAEA;
  top: 434px;
  left: 502px;

}
.aside {
  display: inline-block;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  color: #333333;
  width: 100%;
}
.heading-4{
  display : inline-block;
  position: absolute;
  top: 153px;
  bottom: 1255px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #3F2AFF;
  margin-bottom:0 ;
  margin-top: 0;
  width: 1170px;

}

.logo-2 {
  display: inline-block;
  position: absolute;
  left: 375px;
  right: 1408px;
  top: 50px;
  width: 137px;
  height: 30px;
  margin-bottom:35px ;


}
.back {
  display: inline-block;
  position: relative;
  z-index:  10 ;
  top: 105px;
  left: 427px;
  width: 108px;
  height: 23px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3F2AFF;
  padding: 0 auto;


}
.arrow {
  display: inline-block;
  position: absolute;
  left: 375px;
  top: 115px;
  width: 45px;
  box-sizing: border-box;
}
.btn-2{
  padding: 25px 76px;
  border: 2px solid #3F2AFF;
  box-sizing: border-box;
  position: relative;
  width: 124px;
  height: 22px;
  left: 823px;
  top: 1381px;
  padding: 25px 76px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3F2AFF;
}






